//=====================
//  SET SYSTEM COLOURS  
//=====================
//
$HEX_Black0: #000000; 
$HEX_Black1: #0a0a0a;
$HEX_Black2: #111111;
$HEX_Black3: #181818;
$HEX_Black4: #272727;
$HEX_Grey0: #3a3a3a;
$HEX_Grey1: #4a4a4a;
$HEX_Grey2: #575757;
$HEX_Grey3: #676767;
$HEX_Grey4: #727272;
$HEX_White0: #797979;
$HEX_White1: #8f8f8f;
$HEX_White2: #a5a5a5;
$HEX_White3: #b6b6b6;
$HEX_White4: #c8c8c8;
//
$HEX_BgWinter: #0c0a0f;
$HEX_BgSpring: #0d0f0a;
$HEX_BgSummer: #0a0f0f;
$HEX_BgAutumn: #100c09;
//
$HEX_Red: #572525;
$HEX_OrangeDark: #572f25;
$HEX_OrangeLight: #573825;
$HEX_YellowDark: #574825;
$HEX_YellowLight: #575725;
$HEX_GreenDark: #305725;
$HEX_GreenLight: #485725;
$HEX_TealDark: #25573c;
$HEX_TealLight: #25574a;
$HEX_Cyan: #255457;
$HEX_BlueDark: #252a57;
$HEX_BlueLight: #254057;
$HEX_PurpleDark: #352557;
$HEX_PurpleLight: #3f2557;
$HEX_Pink: #572552;
//
//
//==========================================
//  DYNAMIC COLOURS | Do not change manually
//==========================================
//
$HEX_DBg: #0c0a0f;
$HEX_DFg: #727272;
$HEX_DAccent: #255457;
